.App {
    max-width: 600px;
    margin: auto;
}

.App .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.App .add-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
}